<!-- Страница канала -->

{% extends 'base.html' %}
{% load header %}
{% load cards %}
{% load static %}

{% block title %}
    {{ channel.name }}
{% endblock title %}

{% block content %}
    {% get_header 'channel' %}
    <div class="container text-center">
        <p class="h1 user-select-all" style="margin: 10px">
            <img src="{{ channel.logo.url }}" style="border-radius: 50%" width="200px" alt="Логотип канала">
                <p style="margin-left: 20px">  </p> {{ channel.name }}</p>
    </div>
    <hr>
    <div class="container">
        {{ channel.description }}
        <p class="mt-2">
            Владелец:
            <mark>{{ channel.owner.username }}</mark>
        </p>
        <p class="mt-2">
            Общее количество видео:
            <mark>{{ count }}</mark>
        </p>
        <p class="mt-2">
            Подписчики:
            <mark>{{ channel.subscribers.count }}</mark>
        </p>
        <input type="button" class="btn btn-outline-success mt-2" onclick="subscribe(`{{ channel.name }}`)"
               value='Подписаться на канал "{{ channel.name }}"'>
        <button class="btn btn-outline-danger mt-2" data-toggle="modal" data-target="#dropChannelModal">
            Удалить канал
        </button>
        <a href="{% url 'change-channel' channel.name %}" class="btn btn-outline-warning mt-2">Изменить канал</a>
    </div>
    <hr>
    <div class="container">
        <p class="h3">
            Все видео:
        </p>
        {% cards channel.video_set.all %}
    </div>
    <hr>
    {% if channel.owner.username == request.user.username %}
        <div class="container mb-3">
            <p class="h3">
                Загрузить видео
            </p>
            <form id="video-form" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Название</label>
                    <input type="text" class="form-control" id="name" name="name" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <label for="video">Видео</label>
                    <input type="file" name="video" class="form-control-file" id="video" accept="video/mp4" required>
                </div>
                <div class="form-group">
                    <label for="poster">Постер</label>
                    <input type="file" name="poster" class="form-control-file" id="poster"
                           accept="image/jpeg,image/jpg,image/png,image/gif">
                </div>
                <div class="form-group">
                    <label for="category">Категория</label>
                    <select class="form-control" name="category" id="category">
                        {% for category in categories %}
                            <option value="{{ category.name }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="description">Описание</label>
                    <textarea name="description" id="description" rows="10" class="form-control" required></textarea>
                    {% csrf_token %}
                </div>
                <input type="hidden" value="{{ channel.name }}" name="channel">
                <input type="submit" class="btn btn-outline-success" value="Загрузить">
            </form>
        </div>
        <div class="modal fade" id="dropChannelModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Удалить канал</h5>
                    </div>
                    <form id="drop-channel-form" method='post'>
                        <div class="modal-body">
                            <label for="dropChannelName">Введите название канала, чтобы подтвердить, что вы не
                                робот</label>
                            <input type="text" class="form-control" id="dropChannelName" name="channel-name"
                                   autocomplete="off" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                            <input type="submit" class="btn btn-primary" value="Удалить">
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    <script src="{% static 'js/channel_script.js' %}"></script>
    <script src="{% static 'js/subscribe_script.js' %}"></script>
{% endblock content %}