{% extends 'base.html' %}
{% load static %}
{% load header %}

{% block title %}
    {{ video.name }}
{% endblock title %}

{% block content %}
    {% get_header 'video' %}
    <div class="container text-center">
        <p class="h1 user-select-all">{{ video.name }}</p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8" style="text-align: right">
                <video src="{{ video.video.url }}" poster="{{ video.poster.url }}" controls
                       style="width: 100%" class="rounded"></video>
                <div class="row" style="margin-top: 10px; align-items: center">
                    <div class="col-sm-4 text-center">
                        <svg width="60px" height="60px" onclick="like('like')">
                            <g id="like-icon"
                                    {% if reaction == 'like' %}
                               style="fill: blue"
                                    {% endif %}>
                                <path d="M9.5,43c-2.757,0-5,2.243-5,5s2.243,5,5,5s5-2.243,5-5S12.257,43,9.5,43z"></path>
                                <path d="M56.5,35c0-2.495-1.375-3.662-2.715-4.233C54.835,29.85,55.5,28.501,55.5,27c0-2.757-2.243-5-5-5H36.134l0.729-3.41
                                c0.973-4.549,0.334-9.716,0.116-11.191C36.461,3.906,33.372,0,30.013,0h-0.239C28.178,0,25.5,0.909,25.5,7c0,14.821-6.687,15-7,15
                                h0h-1v-2h-16v38h16v-2h28c2.757,0,5-2.243,5-5c0-1.164-0.4-2.236-1.069-3.087C51.745,47.476,53.5,45.439,53.5,43
                                c0-1.164-0.4-2.236-1.069-3.087C54.745,39.476,56.5,37.439,56.5,35z M3.5,56V22h12v34H3.5z"></path>
                            </g>
                        </svg>
                        <mark id="like-counter">{{ video.likes }}</mark>
                        <svg width="60px" height="60px" onclick="like('dislike')">
                            <g id="dislike-icon"
                                    {% if reaction == 'dislike' %}
                               style="fill: blue"
                                    {% endif %}>
                                <path d="M40.5,0v2h-28c-2.757,0-5,2.243-5,5c0,1.164,0.4,2.236,1.069,3.087C6.255,10.524,4.5,12.561,4.5,15
                                    c0,1.164,0.4,2.236,1.069,3.087C3.255,18.524,1.5,20.561,1.5,23c0,2.495,1.375,3.662,2.715,4.233C3.165,28.15,2.5,29.499,2.5,31
                                    c0,2.757,2.243,5,5,5h14.366l-0.729,3.41c-0.973,4.551-0.334,9.717-0.116,11.191C21.539,54.094,24.628,58,27.987,58h0.239
                                    c1.596,0,4.274-0.909,4.274-7c0-14.82,6.686-15,7-15h0h1v2h16V0H40.5z M54.5,36h-12V2h12V36z"></path>
                                <path d="M48.5,15c2.757,0,5-2.243,5-5s-2.243-5-5-5s-5,2.243-5,5S45.743,15,48.5,15z"></path>
                            </g>
                        </svg>
                        <mark id="dislike-counter">{{ video.dislikes }}</mark>
                    </div>
                    <div class="col-sm-4 text-center"></div>
                    <div class="col-sm-4 text-center">
                        <p class="h4">
                            <a href="{% url 'channel' video.channel.name %}">
                                <img src="{{ video.channel.logo.url }}" style="border-radius: 50%" width="80px"
                                     alt="Логотип канала">
                                {{ video.channel.name }}
                            </a>
                        </p>
                    </div>
                </div>

                {% if video.channel.owner.username == request.user.username %}
                    <button class="btn btn-outline-danger mt-2" data-toggle="modal" data-target="#dropVideoModal">
                        Удалить видео
                    </button>
                    <a href="{% url 'change-video' video.name %}" class="btn btn-outline-warning mt-2">Изменить
                        видео</a>
                {% endif %}
                <input type="button" class="btn btn-outline-success mt-2"
                       onclick="subscribe(`{{ video.channel.name }}`)"
                       value='Подписаться на канал "{{ video.channel.name }}"'>
            </div>
            <div class="col-md mt-2">
                <p class="h6 border border-secondary" style="padding: 10px">
                    {{ video.description }}
                </p>
                <p class="h5">Категория: {{ video.category.name }}</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="container" id="comments_set">
        {% for comment in video.comment_set.all %}
            <div>
                <h5 class="mt-0">{{ comment.user.username }}</h5>
                {{ comment.text }}
                <hr>
            </div>
        {% endfor %}
    </div>
    {% if request.user.is_authenticated %}
        <div class="container">
            <form id="comment_form">
                <div class="form-group">
                    <p class="h3">Оставьте комментарий:</p>
                    <label for="commentText">Текст комментария</label>
                    <textarea name="text" class="form-control" id="commentText" rows="10"></textarea>
                    <input type="hidden" name="video" value="{{ video.name }}">
                    {% csrf_token %}
                </div>
                <input type="submit" class="btn btn-outline-success" value="Отправить">
            </form>
        </div>
    {% else %}
        <div class="container">
            <p class="h5"><a href="{% url 'account_signup' %}">Зарегестрируйтесь</a>, чтобы оставить комментарий.</p>
        </div>
    {% endif %}
    <hr>
    {% if video.channel.owner.username == request.user.username %}
        <div class="modal fade" id="dropVideoModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Удалить видео</h5>
                    </div>
                    <form id="drop-video-form" method='post'>
                        <div class="modal-body">
                            <label for="dropVideoName">Введите название видео, чтобы подтвердить, что вы не
                                робот</label>
                            <input type="text" class="form-control" id="dropVideoName" name="video-name"
                                   autocomplete="off" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                            <input type="submit" class="btn btn-primary" value="Удалить">
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    <script src="{% static 'js/video_script.js' %}"></script>
    <script src="{% static 'js/subscribe_script.js' %}"></script>
    <input type="hidden" value="{{ request.user.username }}" id="username">
    <input type="hidden" value="{{ video.name }}" id="hidden-name">
{% endblock content %}